.mask-contain {
    background-color: currentColor;
    mask-image: var(--icon-url);
    -webkit-mask-image: var(--icon-url);
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.mask-fill {
    background-color: currentColor;
    mask-image: var(--icon-url);
    -webkit-mask-image: var(--icon-url);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}