.participant-content {
    margin-top: -5.6px;
}

@media (max-width: 768px) {
    .participant-content {
        margin-top: -4.8px;
    }
}

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-list-item {
    display: flex;
    align-items: center;
    padding-top: 5.6px;
    padding-bottom: 14.4px;
}

@media (max-width: 768px) {
    .user-list-item {
        padding-top: 4.8px;
        padding-bottom: 10.2px;
    }
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-nickname {
    font-size: 16px;
    font-weight: bold;
    color: #283043;
    margin-bottom: 4px;
}

.user-qq {
    font-size: 14px;
    color: #7d7d7d;
}