/* 网格布局 */
.activity-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 30px 0;
}

@media (max-width: 768px) {
    .activity-section {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 20px 20px 0;
    }
}

/* 模块 */
.activity-card {
    padding: 20px 20px 5.6px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(22, 120, 255, 0.07);
}

@media (max-width: 768px) {
    .activity-card {
        padding: 15px 15px 4.8px;
        margin-bottom: 20px;
    }
}

.activity-card-title {
    position: relative;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #dddddd;
    font-size: 20px;
    font-weight: bold;
    color: #283043;
}

@media (max-width: 768px) {
    .activity-card-title {
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-size: 14px;
    }
}

.activity-card-title::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: calc(100% - 20px);
    box-sizing: border-box;
    border-radius: 5px;
    background: #1678ff;
    content: "";
}

@media (max-width: 768px) {
    .activity-card-title::before {
        height: calc(100% - 15px);
    }
}

.activity-card-content {
    margin-top: -5.6px;
    font-size: 14px;
    color: #283043;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .activity-card-content {
        margin-top: -4.8px;
        font-size: 12px;
    }
}

.activity-card-content p {
    margin-bottom: 8.8px;
}

@media (max-width: 768px) {
    .activity-card-content p {
        margin-bottom: 5.4px;
    }
}

.activity-card-content ul {
    margin: -8.8px 0 8.8px 25px;
}

@media (max-width: 768px) {
    .activity-card-content ul {
        margin: -6.2px 0 5.4px 20px;
    }
}

.activity-card-content li {
    color: #7d7d7d;
}